html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: -webkit-linear-gradient(top, Orange, Purple);
    background: -moz-linear-gradient(top, Orange, Purple);
    background: -o-linear-gradient(top, Orange, Purple);
    background: linear-gradient(to bottom, Orange, Purple);
}

footer {
    background: -webkit-linear-gradient(top, Orange, Yellow);
    background: -moz-linear-gradient(top, Orange, Yellow);
    background: -o-linear-gradient(top, Orange, Yellow);
    background: linear-gradient(to bottom, Orange, Yellow);
}

nav {
    background: -webkit-linear-gradient(top, Orange, Yellow);
    background: -moz-linear-gradient(top, Orange, Yellow);
    background: -o-linear-gradient(top, Orange, Yellow);
    background: linear-gradient(to bottom, Orange, Yellow);
}