html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(to bottom, gray, white);
}

footer {
    background: linear-gradient(to bottom right, gray, white);
}

nav {
    background: linear-gradient(to bottom right, gray, white);
}

.bg-gradient-light {
    background-image: linear-gradient(to bottom right, gray, black);
}
input[type="checkbox"]:checked {
    background-color: green;
}

.card{
    transition: all 0.3s;
}

    .card:hover {
        transform: scale(1.15);
        border: 3px solid #d0d0d0;
        margin: -2px;
    }