@model TaskEntity

@{
    ViewData["Title"] = "Add Task";
}

<h1>Add Task</h1>

<h4>Task Entity</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTask">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="IsCompleted" class="control-label"></label>
                @Html.CheckBoxFor(m => m.IsCompleted)
            </div>
            <div class="form-group" padding="20">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<div padding="20">
    <a asp-action="Index">Back to Task List</a>
</div>