@model MVCtoConsumeAPI.Models.TaskEntity

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-white">Edit this task</h1>

<hr class="bg-white" style="height:5px" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label" hidden></label>
                <input asp-for="Id" class="form-control" hidden />
                <span asp-validation-for="Id" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label fw-bold text-white"></label>
                <input asp-for="Description" class="form-control" required />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check" style="padding:20px 20px 20px 20px;">
                <label class="form-check-label fw-bold text-white">
                    <input class="form-check-input" asp-for="IsCompleted" /> @Html.DisplayNameFor(model => model.IsCompleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CompletionComment" class="control-label fw-bold text-white">Completion Comment</label>
                <input asp-for="CompletionComment" class="form-control" />
                <span asp-validation-for="CompletionComment" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding:20px 20px 20px 0px;">
                <input type="submit" value="Save" class="btn btn-primary" style="width:80px" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="fw-bold text-white">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
